@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

button {
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    padding: .5em 1em;
    border-radius: 2rem;
    font-weight: 400;
    color: hsl(0, 0%, 41%);
    border: none;
    background-color: #fff;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    text-transform: capitalize;

    .brand {
        text-transform: capitalize;
        font-weight: 600;
        color: #fff;
    }

    .btn-menu {
        background-image: url(../images/icon-hamburger.svg);
        width: 35px;
        height: 30px;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .btn-menu[aria-expanded="true"] {
        background-image: url(../images/icon-close.svg);
    }

    .menu {
        display: block;
        font-size: 1rem;
        line-height: 2rem;
        font-family: 'Ubuntu', sans-serif;
        color: rgb(77, 77, 77);
        position: absolute;
        top: 100px;
        left: -100%;
        width: 90%;
        text-align: center;
        background-color: #fff;
        padding: 1em;
        border-radius: 5px;
        font-weight: 400;
        box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
        transition: .4s;

        hr {
            margin-top: 1em;
        }

        .features {
            border-bottom: 1px solid rgba(44, 44, 44, 0.562);

            &>* {
                margin-bottom: 1em;
            }

            .feature {
                width: fit-content;
                margin-inline: auto;
                display: flex;
                gap: .3em;
                cursor: pointer;

                img {
                    display: inline-block;
                    width: 15px;
                    transition: .3s;
                    transform: rotate(0);
                    background-image: url(../images/icon-arrow-dark.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .rotate-up {
                    transform: rotate(-180deg);
                }
            }

            .feature-list {
                background-color: rgb(209, 209, 209);
                border-radius: 5px;
                overflow-y: hidden;
                height: 0px;
                transition: .3s;
            }

        }

        .btn-sign {
            .sign-in {
                color: white;
                background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
            }
        }
    }

    .menu[aria-expanded="true"] {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 776px) {

    header {
        position: absolute;
        padding-inline: 4rem;


        .btn-menu {
            display: none;
        }

        .menu {
            position: static;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2em;
            background: none;
            box-shadow: none;
            font-size: 1rem;
            color: #fff;
            transition: 0s;

            gap: 2em;

            .features {
                display: flex;
                flex-shrink: 1;
                align-items: center;
                gap: 2em;
                border-bottom: none;

                &>* {
                    margin-bottom: 0;
                }

                .feature {
                    img {
                        background-image: url(../images/icon-arrow-light.svg);
                    }
                }

                .feature-list {
                    position: absolute;
                    padding: 0 1em;
                    height: auto;
                    top: 3.3em;
                    line-height: 2rem;
                    transition: 0s;
                    background-color: white;
                    color: rgb(83, 83, 83);

                }
            }

            .btn-sign {
                display: flex;
                gap: 1em;

                button {
                    font-size: 1rem;
                    width: 120px;
                }
            }
        }
    }
}

main {
    font-family: 'Overpass', sans-serif;
    color: #fff;

    .container-hero {
        background-image: linear-gradient(90deg, rgb(255, 143, 112), rgb(255, 61, 84));
        border-end-start-radius: 100px;

        .jumbotron {
            width: 100%;
            min-height: 600px;
            background-image: url('../images/bg-pattern-intro-mobile.svg');
            background-position-y: -250px;
            background-position-x: -350px;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            border-end-start-radius: 100px;
            padding: 1em;

            &>* {
                margin-bottom: 1em;
            }

            .btn-jumbotron {
                display: flex;
                gap: 10px;

                button {
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 800;
                    font-size: 1rem;
                    border: none;
                    padding: .5rem 1em;
                    transition: .3s;
                }

                button:nth-child(1) {
                    color: hsl(353, 100%, 62%);

                    &:hover {
                        color: white;
                        background-color: transparentize($color: #00000023, $amount: 0);
                    }
                }

                button:nth-child(2) {
                    color: white;
                    background-color: transparent;
                    border: 2px solid #fff;

                    &:hover {
                        color: hsl(353, 100%, 62%);
                        background-color: #fff;
                    }
                }
            }
        }
    }

    #content {
        padding-block: 1em;
        text-align: center;
        position: relative;

        h2 {
            font-size: 1.6rem;
            margin-block: .5em;
            color: #0f0f0fa2;
        }

        section {
            color: #0f0f0fa2;
            padding: 1em 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: .5em;

            p {
                line-height: 2rem;
            }
        }

        .images-bg {
            width: 100%;
            min-width: 250px;
            height: 360px;
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;

            &.editor {
                background-image: url('../images/illustration-editor-mobile.svg');
            }

            &.laptop {
                background-image: url('../images/illustration-laptop-mobile.svg');
            }
        }

        .bkg-off-dark {
            position: relative;
            height: 700px;
            background: hsl(237, 17%, 21%);
            background-image: url('../images/bg-pattern-circles.svg');
            background-size: 700px;
            background-repeat: no-repeat;
            background-position: center;
            background-position-y: -250px;
            margin-top: 15em;
            padding-block: 14em;
            border-radius: 0 100px 0 100px;
            color: #fff;

            h2 {
                color: #fff;
            }

            .img-phone {
                width: 100%;
                max-width: 300px;
                position: absolute;
                top: -7em;
                left: 50%;
                transform: translateX(-50%);

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 876px) {
    main {

        .container-hero {
            .jumbotron {
                background-image: url('../images/bg-pattern-intro-desktop.svg');
                background-size: 2600px;
                background-position-x: -300px;
                background-position-y: -1100px;
            }
        }

        #content {

            #h2-absolute {
                position: absolute;
                top: 30px;
                inset-inline: 1rem;
            }

            h2 {
                font-size: 2rem;
            }

            .dekstop-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;

                div:nth-child(2) {
                    width: 50%;
                    padding-block: 2em;
                    padding-left: 5em;
                    text-align: start;

                    p {
                        line-height: 1.8rem;
                    }
                }

                &.editor {
                    flex-direction: row-reverse;

                }

                &.laptop {
                    flex-direction: row;

                    div:nth-child(2) {
                        width: 50%;
                        padding-block: 2em;
                        padding-left: 0;
                        padding-right: 5em;
                        text-align: start;

                        p {
                            line-height: 1.8rem;
                        }
                    }
                }

                .images-bg {
                    width: 50%;
                    min-height: 800px;
                    background-size: 800px;
                    background-position-y: center;
                    background-position-x: 100px;
                    background-repeat: no-repeat;

                    &.editor {
                        background-image: url('../images/illustration-editor-desktop.svg');


                    }

                    &.laptop {
                        background-position-x: -230px;
                        background-image: url('../images/illustration-laptop-desktop.svg');
                    }
                }

            }

            .bkg-off-dark {
                display: flex;
                background-position-y: -300px;
                background-position-x: -150px;
                height: 350px;
                padding: 3em 5em;

                .img-phone {
                    width: 100%;
                    max-width: 100%;
                    position: static;
                    display: flex;
                    gap: 2em;
                    align-items: center;
                    transform: translateX(0);
                    text-align: start;
                    padding: 0 2em;


                }
            }

        }
    }
}

footer {
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(37, 37, 45);
    border-radius: 0 100px 0 0;
    color: #fff;
    text-align: center;

    h1 {
        margin-bottom: 2em;
    }

    section {
        margin-bottom: 1em;

        h3 {
            margin-bottom: 1em;
        }

        ul>* {
            margin-bottom: .5em;
        }
    }
}

@media screen and (min-width: 776px) {
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}